<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simulação de votação</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="https://uploads-ssl.webflow.com/5d7fa6d94cc859772b880543/5f3eafb02e8bb0857167b7d3_BLOG_URNA.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Eleições</ion-card-subtitle>
      <ion-card-title>Simulador</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aqui você poderá treinar a votação para todos os cargos em disputa nas Eleições Municipais de 2020
      da mesma maneira que ocorrerá no dia na eleição, como se estivesse diante de uma urna eletrônica. É rápido, didático e divertido.
    </ion-card-content>
  </ion-card>

</ion-content>
